/*
*= require ./reset
*= require ./screen
*= require_self
*/

 .response-content-type, .top-response-class {
 	display: none;
 }
 
 .snippet, .response_body {
  position: relative !important;
 }
 
 .swagger-section #header form#api_selector .input input#input_apiKey {
  width: 530px !important;
 }
